/* src/app/navbar/navbar.component.css */
.navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    margin-right: 15px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  /* In any component's CSS */
 .card-body {
  padding: 1.5rem;
  color: var(--text-color);
}